
.app__navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .8);
    padding: 10px;
}

.p__opensans
{
  color: white;  
}
a{
    color: white;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 300px;
    
    padding: 0px 0px 20px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    color: var(--color-grey);
}
